<h1>Pages#about</h1>
<h2><%= @about_msg  %></h2>

<ol>
    <% @avengers.each do |avenger| %>
        <li><%= avenger %> is the strongest in the Multiverse!</li>
    <% end %>
</ol>

<p>
    Come and meet our new recruits <%= link_to "here", newrecruits_path %>
</p>

<p>
    Get to know why we do what we do and the big missions which lie ahead <%= link_to "here", objectives_path %>
</p>

<p>Find me in app/views/pages/about.html.erb</p>
