<h1>Pages#about</h1>
<h2><%= @about_msg  %></h2>

<ol>
    <% @avengers.each do |avenger| %>
        <li><%= avenger %> is the strongest in the Multiverse!</li>
    <% end %>
</ol>

<p>Find me in app/views/pages/about.html.erb</p>
