<h1>What will the team be looking to achieve this year to protect Earth? And beyond?</h1>

<ol>
    <% @objectives.each do |objective| %>
        <li><%= objective %> is of paramount importance - the fate of the universe depends on it...</li>
    <% end %>
</ol>

<p>
    We are nothing without our core pillars; learn more about them <%= link_to "here", about_path %>
</p>

<p>
    The future is in our hands and we believe the new recruits will take us even further; learn about them <%= link_to "here", newrecruits_path %>
</p>