<h1>What will the team be looking to achieve this year to protect Earth? And beyond?</h1>

<ol>
    <% @objectives.each do |objective| %>
        <li><%= objective %> is of paramount importance - the fate of the universe depends on it...</li>
    <% end %>
</ol>